.txt-shadow-gold {
	text-shadow: 1px 1px 1px gold;
}
.txt-shadow-red {
	text-shadow: 1px 1px 1px red;
}
.txt-shadow-blue {
	text-shadow: 1px 1px 1px blue;
}

button:hover {
	cursor: pointer;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    color: white;
    cursor: pointer;
}

.card {
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.9);
	width: 250px;
	min-width: 250px;
	text-wrap: wrap;
	text-align: center;
}

.card-people {
	border: 3px solid lightblue;
	text-shadow: 1px 1px 1px blue;
	display: inline-block;
}